packages:
  yum:
    docker: []
    python36-devel: []
    libffi-devel: []
    ca-certificates: []
    openssl-devel: []
  rpm:
    python3-certifi: []

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
  03_start_docker:
    command: "service docker start"
  04_remove_old_containers:
    command: "docker rm -f $(docker ps -a -q) || true"
  05_start_codeserver:
    command: "invoke start"
  06_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: online_test/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: online_test.settings
